@import "tailwindcss";

:root {
  --background: #352f2f;
  --foreground: rgb(30, 30, 30);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #352f2f;
    --foreground: rgb(30, 30, 30);
  }
}

html, body {
  overscroll-behavior-y: contain; /* evita rebote transparente en iOS */
}

.navbar {
  backdrop-filter: blur(10px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.white-important {
  color: white !important;
}

.custom-modal-bg {
  background-color: #1e1e1e !important; /* oscuro */
  color: white;
  border-radius: 10px;
}

.text-light-50 {
  color: rgba(255, 255, 255, 0.6);
}
